.header {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  &__column {
    &:first-child {
      font-family: "Baloo Tamma 2", cursive;
      a {
        font-size: 40px;
        font-weight: 700;
        color: $handyColor;
      }
    }
    ul {
      display: flex;
      font-size: 18px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: $handyColor;
          i {
            font-size: 28px;
          }
        }
      }
      li:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
}
