.tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    width: 260px;
    font-size: 11px;
    font-weight: 600;
    background-color: $handyColor;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -22%;
    opacity: 0;
    transition: all 0.3s;
    &::after {
      // content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $handyColor transparent;
    }
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}
