html,
body {
  height: 100%;
}
body {
  background-color: $bgColor;
  color: black;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
  padding: 0 10px;
}

button,
input {
  padding: 7px 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  outline: none;
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

select {
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 300;
  color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tooltip {
  text-decoration: none;
  position: relative;
  width: 100%;
}
.tooltip-text {
  display: none;
}
.tooltip:hover .tooltip-text {
  display: block;
  position: fixed;
  overflow: hidden;
  color: $white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 700;
  background-color: $handyColor;
}
