$bgColor: rgb(250, 250, 250);
$handyColor: #16c2c2;
$black: black;
$white: white;
$red: rgb(253, 55, 55);
$gray: rgba(0, 0, 0, 0.7);
$maleColor: rgb(122, 122, 245);
$femaleColor: rgb(248, 104, 128);
$softGray: rgb(168, 168, 168);

$searchHeight: 40px;
