.auth-phone__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  input {
    width: 240px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid $borderColor;
    letter-spacing: 4px;
    font-size: 16px;
    &::placeholder {
      font-size: 14px;
      letter-spacing: 0;
    }
  }
  div {
    width: fit-content;
    padding: 9px 11px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid $borderColor;
    background-color: $softGray;
    color: $white;
    font-size: 15px;
    cursor: default;
  }
  .active {
    background-color: $handyColor;
    cursor: pointer;
    color: $white;
    cursor: pointer;
  }
  .rewind {
    background-color: rgb(255, 58, 58);
    color: $white;
    cursor: pointer;
  }
  .read_only {
    background-color: $borderColor;
    color: $black;
    cursor: default;
  }
}
.code__wrapper {
  display: none;
  #jsChangeBtn {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
}
.verified_phone {
  width: 240px;
}
