.who {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    font-size: 20px;
    margin-bottom: 5px;
    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
  a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    padding: 15px 8px;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 25px;
    &:hover {
      cursor: pointer;
      background-color: $handyColor;
      color: $white;
    }
    span {
      font-size: 18px;
      margin-left: 10px;
    }
    i {
      font-size: 26px;
      margin-right: 10px;
    }
  }
}

.upload__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  div {
    padding: 7px 10px;
    background-color: $handyColor;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
  }
}
