$bgColor: rgb(249, 249, 249);
$handyColor: #16c2c2;
$black: black;
$white: white;
$red: rgb(255, 80, 80);
$gray: rgba(0, 0, 0, 0.7);
$maleColor: rgb(122, 122, 245);
$femaleColor: rgb(248, 104, 128);
$softGray: rgb(221, 221, 221);
$hoverGray: rgb(245, 245, 245);
$borderColor: rgb(230, 230, 230);

$searchHeight: 40px;
